body {
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    margin:0;
    height: 100%;
    padding: 0;

}
.middleBackground {
    min-height: 100vh;
    width: 1000px;
    background-color: #0c0c0ce1;
    display:block;
    margin:auto;
    animation: none;
}
@keyframes Shake {
    0% {
        transform:translateX(-8px);
    }
    14% {
        transform:translateX(-8px);
    }
    28% {
        transform:translateX(8px);
    }
    43% {
        transform:translateX(8px);
    }
    57% {
        transform:translateX(8px);
    }
    71% {
        transform:translateX(8px);
    }
    85% {
        transform:translateX(-8px);
    }
    100% {
        transform:translateX(-8px);
    }
}
.title {
    color: white;
    font-family: 'Segoe UI';
    height: 80px;
    width: auto;
    text-align: center;
    font-size: 32px;
    border-bottom: 3px dashed white;
    margin: auto;
    padding: 10px;
    display: block;
}
.img {
    height:80px;
    width:auto;
    display:block;
    margin:auto;
}


h4 {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 980px;
}
.environments1 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    color: black;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.95;
    background-color:#ffffffee;
    font-family: 'Cascadia Mono';
    border-radius:2px;
    font-size:14px;
}
.environments2 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}
.environments3 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}
.environments4 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}
.environments5 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}
.environments6 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}

.environments7 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}

.environments8 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}

.environments9 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}

.environments10 {
    width: 110px;
    height: 30px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    font-size: 14px;
}
.modifierbuttons {
    margin: auto;
    display: block;
    width: 460px;
}
.environmentButtons {
    margin: auto;
    display: block;
    width: 576px;
}
.environments1:hover {
    opacity:0.95;
}
.environments2:hover {
    opacity: 0.95;
}
.environments3:hover {
    opacity: 0.95;
}
.environments4:hover {
    opacity: 0.95;
}
.environments5:hover {
    opacity: 0.95;
}
.environments6:hover {
    opacity: 0.95;
}
.environments7:hover {
    opacity: 0.95;
}
.environments8:hover {
    opacity: 0.95;
}
.environments9:hover {
    opacity: 0.95;
}
.environments10:hover {
    opacity: 0.95;
}
.Environments {
    border:none;
}
.seed {
    width: 400px;
    height: 30px;
    font-family: 'Cascadia Code';
    border: 1px solid black;
    background-color: #ffffffee;
    border-radius: 6px;
    display: flex;
    margin: auto;
    cursor: text;
    align-items: center;
    justify-content: center;
    font-size:17px;
}
.generate {
    width: 400px;
    height: 30px;
    font-family: 'Cascadia Code';
    border: 1px solid black;
    background-color: #ffffffee;
    border-radius: 6px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
}
.generate:hover {
    transform:scale(1.01);
    background-color:#fffffffe
}
.modifier1 {
    width: 110px;
    height: 30px;
    font-size:14px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.95;
    color: black;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
    background-color: #FFFFFFEE;
}
.modifier2 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}
.modifier3 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}
.modifier4 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}
.gameplayModifiers {
    border-bottom: 3px dashed white;
}
.modifier1:hover {
    opacity:0.95;
}
.modifier2:hover {
    opacity: 0.95;
}
.modifier3:hover {
    opacity: 0.95;
}
.modifier4:hover {
    opacity: 0.95;
}
.Environments {
    border-bottom: 3px double white;
}
.visuals {
    margin: auto;
    display: block;
    width: 460px;
}
.visual1 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    background-color: #FFFFFFEE;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.95;
    color: black;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}

.visual2 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}

.visual3 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}

.visual4 {
    width: 110px;
    height: 30px;
    font-size: 14px;
    border: 1px solid white;
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;
    font-family: 'Cascadia Mono';
    border-radius: 2px;
}

.gameplayModifiers {

}

.visual1:hover {
    opacity: 0.95;
}

.visual2:hover {
    opacity: 0.95;
}

.visual3:hover {
    opacity: 0.95;
}

.visual4:hover {
    opacity: 0.95;
}
.visualStyle {
    border-bottom: 3px dashed white;
}
p {
    font-family: 'Cascadia Mono';
    color:white;
}
.difficulty {
    height: 265px;
    border-bottom: 3px dashed white;
    padding:5px;
}
.steepness {
    margin: auto;
    font-size: 20px;
    display: block;
    width:950px;
    align-content:center;
}
.steep1 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep2 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep3 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep4 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep5 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep6 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep7 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steep8 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}
.steepText {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    padding: 0px;
    width: 1000px;
    transform:translateX(-33px);
}
.steepnessButtons {
    margin:auto;
    display:block;
    width:771px;
}
.curves {
    margin: auto;
    font-size: 20px;
    display: block;
    width: 950px;
    align-content: center;
    
}

.curve1 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}

.curve2 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}

.curve3 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}

.curve4 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
    
}

.curve5 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;

}

.curve6 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.curve7 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.curve8 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.curveText {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    padding: 0px;
    width: 1000px;
    transform: translateX(-33px);
}
.curveButtons {
    margin:auto;
    display:block;
    width:771px;
}
.stunts {
    margin: auto;
    font-size: 20px;
    display: block;
    width: 950px;
    align-content: center;
    height:90px;
}

.stunts1 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts2 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts3 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts4 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts5 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts6 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts7 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stunts8 {
    width: 92px;
    height: 50px;
    background-color: silver;
    display: inline-block;
    cursor: pointer;
    border:none;
}

.stuntsText {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    padding: 0px;
    width: 1000px;
    transform: translateX(-33px);
}
.stuntsButtons {
    margin:auto;
    display:block;
    width:771px;
}
.crew {
    margin: auto;
    display: block;
    width: 388px;
}
.fullCrew {
    border-bottom:3px dashed white;
    padding-bottom:5px;
}
.crew1 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-image: url('wider_path.png');
    background-size: 100%;
    opacity: 0.5;
    border-radius: 2px;
}
.crew2 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-image: url('smoother_curves.png');
    background-size: 100%;
    opacity: 0.5;
    border-radius: 2px;
}
.crew3 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-image: url('more_checkpoints.png');
    background-size: 100%;
    opacity: 0.5;
    border-radius: 2px;
}
.crew4 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-image: url('less_curves.png');
    background-size: 100%;
    opacity: 0.5;
    border-radius: 2px;
}
.crew5 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-image: url('extra_stunts.png');
    background-size: 100%;
    opacity: 0.5;
    border-radius: 2px;
}
.crew6 {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-image: url('less_obstacles.png');
    background-size: 100%;
    opacity: 0.5;
    border-radius: 2px;
}
.crew7 {
    width:50px;
    height:50px;
    display:inline-block;
    border:1px solid black;
    cursor:pointer;
    opacity:0.5;
    border-radius:2px;
    background-image:url('extra_steepness.png');
    background-size:100%;
}
.logo {
    display: inline-block;
    width:50px;
    height:50px;
    margin:0;
    padding:0;
}
.about {
    color: white;
    margin-left: 15px;
    border-bottom: 1px dashed white;
    position: absolute;
    top: 10px;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}

    .about:hover {
        opacity: 1;
    }

.aboutSection {
    color: white;
    font-family: 'Cascadia Mono';
    opacity:0.8;
}

.hyperlink:hover {
    opacity: 1;
    cursor: pointer;
}

.hyperlink {
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed white;
    opacity: 0.8;
}
h1 {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    width: 980px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.environmentRandomizationButton {
    background-image: url('fakepngsmh.png');
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-size: 100%;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    opacity: 0.8;
    margin: 3px;
    position:absolute;
    cursor: pointer;
}

.environmentRandomizationButton:hover {
    opacity: 1;
}

.container {
    /* Your existing styles */
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    width: 980px;
    padding: 10px;
    transform: translateX(-25px);
}
.container2 {
    /* Your existing styles */
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    width: 1000px;
    transform:translateX(-25px);
}
h2 {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display:block;
    text-align: center;
    font-size: 23px;
    padding:10px;
    width:980px;
}
h3 {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 980px;
}
.lock {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lock1 {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lock2 {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lock3 {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lockMini {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;

    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lockMini1 {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lockMini2 {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lockMini3 {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.lockMini4 {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('Unlocked.png');
    background-size: 100%;
    background-color: #FFFFFF00;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    background-repeat: no-repeat;
}
.crewMembers {
    color: white;
    font-family: 'Segoe UI';
    margin: auto;
    display: block;
    text-align: center;
    font-size: 23px;
    padding: 3px;
    width: 994px;
    text-decoration: none;

}
    .lockMini:hover {
        opacity: 1;
    }
.lockMini1:hover {
    opacity: 1;
}
.lockMini2:hover {
    opacity: 1;
}
.lockMini3:hover {
    opacity: 1;
}
.lockMini4:hover {
    opacity: 1;
}
.lock:hover {
    opacity: 1;
}
.lock1:hover {
    opacity: 1;
}
.lock2:hover {
    opacity: 1;
}
.lock3:hover {
    opacity: 1;
}